{{ define "main" }}
{{ partial "profile.html" . }}

<section id="archive">
    {{ range .Data.Pages.GroupByDate "2006" }}
    <div class="group">
        <h3 class="key">
            {{ .Key }}
        </h3>

        {{ range .Pages }}
        {{ $title := .Title }}
        {{ $summary := .Summary }}
        <div class="value">

            <div>
                <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>
                <div class="date">
                    <time datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</time>
                </div>
            </div>

            {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
            <div class="summary">
                {{ $summary | safeHTML | truncate 300 | plainify | htmlUnescape }}
                <ul>
                    <li><a href="{{ .Params.source }}" target="_blank">PDF wniosku (w nowym oknie)</a>
                </ul>
            </div>
            {{ end }}

            {{/* todo: termin odpowiedzi + jednozdaniowy opis zapytania */}}
            {{ with .Params.tags }}
            <div class="tags">
                {{ range . }}
                <a href="{{ " tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}

        </div>
        {{ end }}
    </div>
    {{ end }}


</section>


{{ end }}