{{ define "main" }}
{{ partial "profile.html" . }}

<section id="archive">
    <form action="{{ absURL "search" }}" method="GET">
        <input type="search" name="q" id="search-query" placeholder="Search....">
        <button type="submit">Search</button>
    </form>
    
    <div id="search-results"></div>
    <div class="search-loading">Loading...</div>

    <script id="search-result-template" type="text/x-js-template">
    <div class="value">
        <div id="summary-${key}">
            <div>
                <h1 class="title"><a href="${link}">${title}</a></h1>
            </div>

            <div class="summary">${snippet}</div>
                <ul>
                    <li><a href="{{ .Params.source }}" target="_blank">PDF wniosku (w nowym oknie)</a>
                </ul>
            </div>
        </div>
    </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js"
        integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
        integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{{ "js/search.js" | absURL }}"></script>
</section>

{{ end }}