{{ define "main" }}
{{ partial "profile.html" . }}

<section id="archive">
    <div id="search-box">
        <form action="{{ absURL "search" }}" method="GET" role="search">
            <label for="search">Wyszukaj</label>
            <input id="search-query" type="search" name="q" placeholder="Wyszukaj..." autofocus required />
            <button type="submit">Szukaj</button>
        </form>
    </div>
    
    <div id="search-results"></div>
    <div class="search-loading">Loading...</div>

    <script id="search-result-template" type="text/x-js-template">
    <div class="value">
        <div id="summary-${key}">
            <div>
                <h1 class="title"><a href="${link}">${title}</a></h1>
            </div>

            <div class="summary">${snippet}</div>
                <ul>
                    <li><a href="{{ .Params.source }}" target="_blank">PDF wniosku (w nowym oknie)</a>
                </ul>
            </div>
        </div>
    </div>
    </script>

    {{ with .Site.Params.libs.fusejs }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/{{ .version }}/fuse.min.js"
        integrity="{{ .integrity }}"
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ end }}

    {{ with .Site.Params.libs.markjs }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/{{ .version }}/mark.min.js"
        integrity="{{ .integrity }}"
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ end }}

    {{ with resources.Get "js/search.js" | minify }}
        {{ with resources.ExecuteAsTemplate "js/search.js" $ . }}
            <script src="{{ .RelPermalink }}"></script>
        {{ end }}
    {{ end }}        
</section>

{{ end }}