{{ define "main" }}

<section id="single">
    <h1 class="title">{{ .Title }}</h1>

    <div class="tip">
        <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" . }}</time>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "wordCount" . }}
        </span>
        <span class="split">
          ·
        </span>
        <span>
          {{ i18n "minuteRead" . }}
        </span>
    </div>

    
    {{ if or .Site.Params.showToc .Params.showToc }}
        {{ partial "toc.html" . }}
    {{ end }}


    <div class="content">
      {{ .Content }}
    </div>

    <div class="tags">
        <a href="{{ .Params.source }}" target="_blank">Otwórz oryginalny wniosek (PDF) w nowym oknie</a>
    </div>

    {{ with .Params.geolinks }}
        <div>
            <div>Odnośniki do geoportalu</div>
            <ul>
            {{ range . }}
            <li><a href="{{ . }}" target="_blank">{{ . }}</a>
            {{ end }}
            </ul>
        </div>
    {{ end }}

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}

</section>

{{ end }}

